.show-img {
  object-fit: cover;
  object-position: center;
  margin: auto;
  width: 300px;
}

#show-cont {
flex: 0 0 auto;
width: 50%;
align-content: center;
justify-content: center;
display: grid;
align-items: center;
}

.arrow-color {
  background-color: #6BE897;
}

.btn-surf {
  background-color: #6BE897;
  color: white;
  border: 1px;
  border-radius:3px;
}
