<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <%= simple_form_for [@board, @booking], html: { class: 'custom-form' } do |f| %>
        <h1 class="text-center mb-4">Réserve ta planche de surf </h1>
        <%= f.input :date_start, label: 'Date Start', as: :string, input_html: { class: 'datepicker' }%>
        <%= f.input :date_end, label: 'Date End', as: :string, input_html: { class: 'datepicker' }%>
        <%= f.submit "Submit Booking", class: "btn btn-primary mt-3" %>
      <% end %>
    </div>
  </div>
</div>
