<div class="background">
  <h1 style='text-align: center'>Liste des planches disponibles</h1>
</div>
<div class="container">

<h5 class="card-text mx-3 my-3"><strong> <%= @boards.count %> </strong>planches sont disponibles actuellement</h5>

  <%= render 'shared/index' %>




</div>
