<div class="background">
  <h1 style='text-align: center'>Liste des planches disponibles</h1>
</div>
<div class="container">

<h5 class="card-text mx-3 my-3"><strong> <%= @boards.count %> </strong>planches sont disponibles actuellement</h5>

  <%= render 'shared/index' %>

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>

</div>
