<div class="background">
  <h1 style='text-align: center'>Liste des planches disponibles</h1>
</div>
<div class="container">
<p class="card-text"><strong>Planches de surfs disponibles: <%= @boards.count %></p>
</strong>
  <%= render 'shared/index' %>




</div>
