#new_booking {
  margin-top: 8px;
}

.btn-avis {
  color: white;
  border: solid;
  border-radius: 3px;

}

.btn-avis:hover {
  color: #8197f8;
  border: solid;
  border-radius: 8px;
  background-color: white;
}
