.card-footer {

  .btn-primary {
    background-color: #8196f8;
    border: none;
    border-radius: 10px;
    padding: 12px 20px;
    font-size: 16px;
    transition: background-color 0.2s ease-in-out;
    border: 1px solid white;
    box-shadow: 0px 0px 1px black;
  }
  .btn:hover{
    background-color: #6BE897;
  }
}
