
 .form-control{
  #board_photos{
  background-color: black;
 }
}
.forms {
 .form-control {
background-color: white;
border: 1px solid black;
border-radius: 8px;
  .text {
    color: #8195f8;
  }
 .board_photos {
  background-color: black;
 }
 }
}

.ts-wrapper {
  background-color: white;
  border: none;
}
