.navbar-lewagon {
  justify-content: space-between;
  background-color: white;
  border-bottom: 1px solid black;
  z-index: 100;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 200px;

}

.nav-link {
  font-weight: bold;
}
a.nav-link:hover{
  color: #6BE897;

}
.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}
