<div class="container my-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <%= simple_form_for [@board, @review], html: { class: 'custom-form' } do |f| %>
        <h1 class="text-center mb-4 title">Ajoute ton avis sur la planche</h1>
        <%= f.input :comment, label: 'Commentaire' %>
        <%= f.input :rating, as: :select, collection: Review::RATINGS, label: 'Note sur 5', input_html: {data: {controller: "star-rating"}} %>
        <%= f.submit "Valide ton avis", class: "btn btn-primary mt-3" %>
      <% end %>
    </div>
  </div>
</div>
